node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
.vscode
# Playwright
/blob-report/
/playwright/.auth/
tests/test-1.spec.ts
.gitignore
.gitignore
tests/test-api.spec.ts
tests/test.spec.ts
.DS_Store
.gitignore
